<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlowPro - Block Details</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
    }
</style>
<body style="padding: 7px;">

<h3 id="prop-title"></h3>
<p id="prop-desc"></p>
<table>
    <thead>
        <tr>
            <td>Property Name</td>
            <td>Property Details</td>
        </tr>
    </thead>
    <tbody id="prop-body">

    </tbody>
</table>

</body>
<script src="../renderscripts/block.js"></script>
</html>