<!DOCTYPE html>
<html>
<head>
    <!-- Primary Meta Tags -->
    <title>FlowPro - Programming Simplified</title>
  <!--  <meta name="title" content="Flowy - The simple flowchart engine"> -->
   <!-- <meta name="description" content=""> -->

    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">-->
    <link href='../styles.css' rel='stylesheet' type='text/css'>
    <link href='../flowy.min.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../flowy.js?v=1.0"></script>
    <link href="../css/notifications.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/notifications.js"></script>
    <!-- JS TABLE -->
    <link href="../css/jstable.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jstable.min.js"></script>
    <!-- NP Progress -->
    <link href="../css/nprogress.css" rel="stylesheet">
    <script type="text/javascript" src="../js/nprogress.js"></script>

    <link href="../css/widgets.css" rel="stylesheet">
</head>
<style>
    .canvas::after {

    }


</style>
<body id="app">
<div id="navigation" class="noselect">
    <div id="leftside">
        <div id="details">
            <div id="names">
                <a class="bl" title="Project Folder"  id="directory" style="cursor: pointer">Project</a>
                <div class="headerDivider"></div>
                <a class="bl" title="Flow Blocks" id="my-blocks" style="cursor: pointer">Blocks</a>
                <div class="headerDivider"></div>
                <a title="Recent Projects" class="bl" id="recent-projects" style="cursor: pointer">Recent</a>
            </div>
            <div class="headerDivider"></div>
            <select id="show-files-selector" style="color:black;">
                <option value="project">Project Files</option>
                <option value="files">All Files</option>
            </select><br>
        </div>
    </div>
    <div id="buttonsright" style="margin-right: 50px;">
        <div class="headerDivider"></div>
        <div style="margin-right: 100px; display: inline-block">
            <div title="Audit Check" id="audit" class="br"><img src="../assets/ic_padlock_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="About this Form" id="builder-info" class="br"><img src="../assets/ic_info_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Toggle Form view" id="tgcanvas" class="br"><img src="../assets/ic_grid_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Run Script" id="publish" class="br"><img src="../assets/ic_play_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Run Script in loop" id="publish-loop" class="br"><img src="../assets/ic_repeat_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Stop Script" id="publish-stop" class="br"><img src="../assets/ic_stop_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Save Changes" id="savebtn" class="br"><img src="../assets/ic_save_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Clear the canvas" id="discard" class="br"><img src="../assets/ic_paint_brush_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Toggle the SideBar" id="rp" class="br"><img src="../assets/ic_eye_16.png"/></div>
            <div class="headerDivider"></div>
            <div title="Toggle Output Window" id="opwin" class="br"><img src="../assets/ic_computer_16.png"/></div>
            <div class="headerDivider"></div>
        </div>
    </div>
</div>
<div class="main">
    <div id="left" class="leftDiv resize-drag">
        <div id="leftcard" class="noselect">
            <div id="dir-layout"  class="directory-lister" style="display:none;">

            </div>
            <div id="rp-layout" style="display:none; margin-top: 5px;">
                
            </div>
            <div id="blocks-layout" style="margin-top: 5px;">
                <div id="search">
                    <img src="../assets/search.svg">
                    <input id="search-query" type="text" placeholder="Search blocks" style="color: black">
                </div>
                <select id="categories" class="form-control">
                    <option value="all">Show all</option>
                    <option value="favorites">Favorites</option>
                    <option value="general">General</option>
                    <option value="builder">Builder</option>
                    <option value="input">Inputs</option>
                    <option value="output">Output</option>
                    <option value="arrays">Arrays &amp; Objects</option>
                    <option value="datetime">Date/Time Functions</option>
                    <option value="string">Strings</option>
                    <option value="loops">Loops</option>
                    <option value="conditional">Conditionals</option>
                    <option value="numeric">Numeric</option>
                    <option value="math">Math</option>
                    <option value="html">HTML</option>
                    <option value="files">Files</option>
                    <option value="commands">Commands</option>
                    <option value="database">Database</option>
                    <option value="ftp">File Transfer</option>
                </select>
                <div id="blocklist" style="padding: 5px;">
                </div>
            </div>
        </div>
    </div>
    <div id="right" class="rightDiv">
        <div id="propwrap" class="noselect resize-left">
            <div id="properties" class="">
                <div id="close">
                    <img src="../assets/close.svg">
                </div>
                <p id="header2">Properties</p>
                <p id="prop-header" style="font-size: 15px; margin: 0; padding: 0;" >Element Header</p>
                <div id="propswitch" style="display: inline-block">
                    <div id="dataprop">Attributes</div>
                </div>
                <div id="proplist" style="overflow-y: scroll; margin-left:20px">
                </div>
            </div>
        </div>
        <div id="splitone" class="canvascon" style="display: block">
            <span class="tab-reminder noselect" id="tab-reminder" style="">No File</span>
            <div id="canvas-container" style="overflow: scroll;   position: absolute; ">
                <div id="canvas" class="canvas" style="">
                </div>
            </div>
            <div id="tabs" class='tabbed noselect' style="">
                <ul id="tabscontent">

                </ul>
            </div>
        </div>
        <div id="sideview"  class="sideview resize-left noselect" style="display: block">
                <div id="viewer" class="viewer">
                    <span class="build-title"><img style="margin-right: 3px;" src="../assets/ic_pages_16_blue.png"><span id="build-title">No Current Build</span></span>
                    <form id="viewer-content" class="viewer-content form-style-1" style="" onsubmit = "event.preventDefault();">

                    </form>
                </div>
                <div id="sv-preview"  style="display: none">
                </div>
                <div id="sv-img" style="display: none">
                    <img id="sv-img-holder"/>
                </div>
        </div>
    </div>
</div>

<div id="cmd-layout" class="cmd-layout resize-drag-top" style="display: none;">
    <div>
        <a id="cmd-close" style="cursor:pointer; float: right;">&#215;&nbsp;Close</a>
    </div>
    <div id="cmd-layout-content" class="cmd-layout-content">
        <div id="cmd-content" class="cmd-content"></div>
        <div id="log-content" class="log-content" style="display: none;"></div>
    </div>
</div>
<div class="noselect bottom-bar" style="border-top: solid #c6c8ca 1px; color:white;  display: table;">
    <div style="display: table-cell; vertical-align: middle; margin-top: 3px; padding-left: 5px; width: 70%">
        <span id="welcome-message">Hello World Programmers!:</span>&nbsp;&nbsp;
        <span><a id="view-console" style="color:white;" href="javascript:void(0);">Console</a></span>&nbsp;&nbsp; &nbsp;&nbsp;
    </div>
        <a style="cursor:pointer; float: right; margin-right: 3px;" id="show-console"><img style="width: 24px; margin-top: 3px;" src="../assets/ic_command.png"></a>
</div>

<div id="new-dir-modal" style="display: none;" class="dirmodal">
    <p class="modal-title" style="padding: 0px;">New Directory</p>
    <input id="name-dir-input" type="text">
</div>


<script src="../renderscripts/home.js"></script>
</body>
</html>
