<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlowPro - Screen Output</title>
    <link href="../css/widgets.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel=stylesheet href="../css/screen.css">
</head>
<style id="stylingcontents">
    body {
        margin: 0;
        height: 100vh;
    }
    #app {
        pointer-events: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
<body style="background: #fff">

    <div id="app" style="padding: 15px; background:#ffffff; border-radius: 3px; height: 100%;">
            <h2 id="screen-title"></h2>
            <p id="screen-description"></p>
            <div id="app-content">

            </div>
    </div>

</body>
<script src="../renderscripts/screen.js"></script>
</html>